<html>
    <body>
        <h1>Customer Information</h1> <br>
        <form method="POST" actions="">
            ID <input type = "text" name = "CustomerID" > <br>
            Name <input type = "text" name = "Name" > <br>
            Address <input type = "text" name = "Address" > <br>
            Phone Number <input type = "text" name = "PhoneNumber" > <br>
            Drivers License # <input type = "text" name = "DriversLicenseNumber" > <br>
            <input type = "submit"> <br><br>
        </form>

        {% if msg %}
            {{ msg }}
        {% endif %}

    </body>
</html>
